/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.splash-container {
  text-align: center;
  margin-top: 200px;
}

.title {
  font-size: 36px;
}

.splash-screen {
  margin-top: 20px;
}

.sign-up-button,
.sign-in-button {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}

/* Sign up Page */

.login-form,
.registration-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form h2,
.registration-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.field {
  margin-bottom: 10px;
}

.field label {
  font-weight: bold;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.field input[type="checkbox"] {
  margin-right: 5px;
}

.actions {
  text-align: center;
  margin-top: 10px;
}

.actions input[type="submit"] {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.links-text {
  margin-top: 10px;
  text-align: center;
}

.links-text a {
  color: #337ab7;
  text-decoration: none;
  margin-right: 10px;
}
